@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

body {
  font-family: "Open Sans";
  font-size: 1rem;
  max-width: 100%;
  line-height: 1.5;
  background-color: #fafafa;
}

#header-img /* that is the logo */ {
  height: 38px;
  width: 8%;
  max-width: 10%;
  float: right;
}

.responsive-media {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

#imac {
  border: lightgray;
  border-radius: 2%;
  border-width: thin;
  box-shadow: 5px 5px 2px lightgray;
}

header /* Inside of this element is the nav */ {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: large;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  background-color: #f3f2f2;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #d8d4d4;
}

.nav-link {
  text-shadow: lightslategray;
}

#about-section {
  margin-bottom: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#details-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#form-section {
  margin-top: 8%;
  margin-bottom: 8%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

p,
blockquote {
  text-align: center;
  font-family: inherit;
  font-size: x-large;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  white-space: normal;
}

h1 {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  font-family: inherit;
  white-space: normal;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  white-space: normal;
}

footer {
  text-align: center;
  font-size: medium;
  display: block;
  font-family: inherit;
  margin-bottom: 2%;
}

#form {
  font-family: inherit;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 2%;
  margin-bottom: 2%;
}

input {
  font-size: x-large;
}

#submit {
  color: rgb(235, 237, 245);
  background-color: #1e90ff;
  font-size: xx-large;
  margin-top: 2%;
}
